nav {
    background-color: bisque;
    width: 20%;
    height: 100vh;
    padding: 0 50px 0 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    transition: 0.5s;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 50px 0 50px 0;
}

li {
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 20px;
}