main {
    position: absolute;
    padding-left: 330px;
}

section {
    display: block;
}

h1 {
    margin: 30px 0 30px 0;
    font-size: 28px;
    font-weight: bold;
}

p {
    line-height: 1.5em;
    margin-bottom: 20px;
}

h2 {
    margin: 20px 0 20px 0;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    margin: 20px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

code {
    display: flex;
    align-items: center;
    height: 80px;
    line-height: 1.2;
    background-color: #f7f7f7;
    border-top: rgb(69, 69, 69) solid;
    border-bottom: rgb(69, 69, 69) solid;
    margin-bottom: 20px;
  }

  code > p {
    margin: auto auto auto 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  ol {
    list-style: decimal;
    margin-left: 50px;
  }

  ul {
    list-style: disc;
    margin-left: 50px;
  }

  li {
    line-height: 1.5em;
    margin-bottom: 20px;
  }